
body {
    background-color: #f8f8f8;
    margin: 0; 
}
.signing-body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dirHeader {
    display: flex;
    justify-content: center;
    align-items: center;     
    background-image: url("images/directoryHeader.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white; 
    text-shadow: 2px 2px 4px #000000; 
}
.container {
    background-color: #fff;
    width: 800px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.signup-box {
    display: flex;
    width: 100%;
}

.form-section {
    width: 50%;
    padding: 40px;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-bottom-color: #007bff;
}

.checkbox-group {
    margin: 20px 0;
    font-size: 14px;
}

.checkbox-group a {
    color: #007bff;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #64b5f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #42a5f5;
}

.member-link {
    text-align: center;
    margin-top: 10px;
}

.member-link a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.image-section {
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    width: 100%;
    height: auto;
    max-width: 300px;
}
/* Directory Styles */
.directory-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
}

.directory-card {
    background-color: #008080;
    color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    transition: transform 0.2s ease-in-out; 
}

.directory-card:hover {
    transform: scale(1.05);
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


nav {
    background-color: #008080;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    color: #006666;
}

.category-buttons {
    display: flex;
    margin: 20px;
}

.category-buttons button {
    background-color: #008080;
    border: none;
    color: white;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: #006666;
}

.search-container {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 375px;
}

#search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
